<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Microsoft.Samples.ReportingServices.FindRenderSave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Microsoft.Samples.ReportingServices.FindRenderSave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </sectionGroup>
 </configSections>
 <appSettings>
	 <add key="FindRenderSave.ReportService.ReportingService" value="http://localhost/ReportServer/ReportService.asmx"/>
	 <add key="ReportingService2010" value="http://localhost/ReportServer/ReportService2010.asmx"/>
	 <add key="ReportExecutionService" value="http://localhost/ReportServer/ReportExecution2005.asmx"/>
 </appSettings>
	<userSettings>
  <Microsoft.Samples.ReportingServices.FindRenderSave.Properties.Settings />
 </userSettings>
<applicationSettings>
<Microsoft.Samples.ReportingServices.FindRenderSave.Properties.Settings>
 <setting name="FindRenderSave_ReportService_ReportingService2010"
  serializeAs="String">
  <value>http://localhost/reportserver/reportservice2010.asmx</value>
 </setting>
 <setting name="FindRenderSave_rsExec_ReportExecutionService"
  serializeAs="String">
  <value>http://localhost/reportserver/ReportExecution2005.asmx</value>
 </setting>
</Microsoft.Samples.ReportingServices.FindRenderSave.Properties.Settings>
</applicationSettings>
</configuration>
